*{
    font-family:'Pixeltype';
    font-size: 25px;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    

}

.calc-body{
    height: 550px;
    width: 400px;
    background-color: #22A699;
    border-radius:10px;
    box-shadow: #10786d 5px 1px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.display{
    width: 350px;
    height: 100px;
    background-color: black;
    margin-top: 40px;
    border: 5px solid black;
    padding: none;
}

.display input{
    width: 355px;
    height: 105px;
    margin-top: -5px;
    margin-left: -6px;
    background-color: transparent;

    /* font */

    font-family: 'Pixeltype';
    font-size: 50px;
    color: white;
    text-align: right;
    text-indent: 10px;
}



.imp-btns{
    width: 350px;
    background-color: transparent;
    display: flex;
    justify-content:end;

    margin-top:40px;
}

.imp-btns > .clear{
    width: 50px;
    height: 50px;
    margin-right: 20px;

    font-size: 25px;

    border: 2px solid black;

}

.action-btns{


    width: 350px;
    background-color: transparent;
    
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}

.action-btns #actions{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;

}

.num-1,.num-2,.num-3{

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 350px;
    margin-top: 20px;
    
}

.numbers{
    width: 50px;
    height: 50px;
    
}

.num-3{
    gap: 15px;
}

#equals{
    grid-column:span 3;
    width: 190px;
}